<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
         <li>
            <a href="/contacts/">Контакты</a>
        </li>
        <li>
            <a href="/results/">Результаты</a>
        </li>
        <li>
            <a href="/run/">Запуск</a>
        </li>
    </ul>
    Телефон +89262587489
        <hr>
        <br>

    дата создания: {{create_date}}
        <br>
    разработчик: {{name}}


</body>
</html>