<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЗАПРОС</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<h1 class="forh1">ЗАПРОС</h1>

<form>
    <input type="text" placeholder="название вакансии"><br><br>
    <select where>
     <option Moscow>Москва</option>
     <option Russia>Россия</option>
    </select><br><br>
   <input type="submit">
</form>
<br>
<a href ="index.html">ГЛАВНАЯ</a>
<a href ="about.html">Об Авторе</a>
<a href ="zapros.html">ЗАПРОС</a>
</body>
</html>